body{
    padding-top: 70px;
}

.thumbnail img{
    width: 100%;
}
.thumbnail {
    padding: 0;
}

.thumbnail .caption-full{
    padding: 15px;
}

.well .row{
    margin: 0;
}

.container .row h1{
    text-align: center;
}

.form-group textarea{
    height: 7em;
}

.delete-form{
    display: inline;
}

.campground-index{
    display: flex; 
    flex-wrap: wrap;
}